@model Florist.Models.Flower

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Flower</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <div>
                    @Html.TextAreaFor(m=>m.Description)
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" name="files" multiple class="form-control"/>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Birthday_Occasion" /> @Html.DisplayNameFor(model => model.Birthday_Occasion)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NameDay_Occasion" /> @Html.DisplayNameFor(model => model.NameDay_Occasion)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Wedding_Occasion" /> @Html.DisplayNameFor(model => model.Wedding_Occasion)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Birth_Occasion" /> @Html.DisplayNameFor(model => model.Birth_Occasion)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Thanks_Occasion" /> @Html.DisplayNameFor(model => model.Thanks_Occasion)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Congratulations_Occasion" /> @Html.DisplayNameFor(model => model.Congratulations_Occasion)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Condolence_Occasion" /> @Html.DisplayNameFor(model => model.Condolence_Occasion)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Anniversary_Occasion" /> @Html.DisplayNameFor(model => model.Anniversary_Occasion)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Roses_Flowers" /> @Html.DisplayNameFor(model => model.Roses_Flowers)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sunflowers_Flowers" /> @Html.DisplayNameFor(model => model.Sunflowers_Flowers)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gerbers_Flowers" /> @Html.DisplayNameFor(model => model.Gerbers_Flowers)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bouquets_Flowers" /> @Html.DisplayNameFor(model => model.Bouquets_Flowers)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Roses_Flowerbox" /> @Html.DisplayNameFor(model => model.Roses_Flowerbox)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cloves_Flowerbox" /> @Html.DisplayNameFor(model => model.Cloves_Flowerbox)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Mix_Flowerbox" /> @Html.DisplayNameFor(model => model.Mix_Flowerbox)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TeddyBear_Gift" /> @Html.DisplayNameFor(model => model.TeddyBear_Gift)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SweetBouquets_Gift" /> @Html.DisplayNameFor(model => model.SweetBouquets_Gift)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TeaAndCofee_Gift" /> @Html.DisplayNameFor(model => model.TeaAndCofee_Gift)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Basket_Gift" /> @Html.DisplayNameFor(model => model.Basket_Gift)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Balloon_Gift" /> @Html.DisplayNameFor(model => model.Balloon_Gift)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts
{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });
    </script>
}
