@model Florist.Models.Flower
@{
    ViewData["Title"] = "Details";
}
<br/>
<div class="text-right">
    <a class="btn btn-primary text-white" asp-action="Edit" asp-route-Id="@Model.Id">
        <i class="fas fa-edit"></i>
    </a>
    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@Model.Id">
        <i class="fas fa-trash-alt"></i>
    </a>
</div>
<div class="row" style="font-family:'Lucida Sans Unicode';">
    <img src="@Model.Image" width="100%" class="col-6"/>
    <div class="col-6">
        <h2 class="col-12">@Model.Name</h2>
        <label class="col-12">@Model.Description</label>
        <h2 class="col-12">@Model.Price,00zł</h2>
    </div>
</div>
