@model Florist.Models.Flower

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edytuj</h1>
<hr />
<div>
    <div>
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Name" class="control-label"></label>
                        </div>
                        <div class="col-5">
                            <input asp-for="Name" class="form-control" />
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Description" class="control-label"></label>
                        </div>
                        <div class="col-5">
                            @Html.TextAreaFor(m => m.Description)
                        </div>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Price" class="control-label"></label>
                        </div>
                        <div class="col-5">
                            <input asp-for="Price" class="form-control" />
                        </div>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Image" class="control-label"></label>
                        </div>
                        <div class="col-5">
                            <input type="file" name="files" multiple class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row font-weight-bold">
                        <label class="col-3">Kwiaty</label>
                        <label class="col-3">Okazje</label>
                        <label class="col-3">Flowerboxy</label>
                        <label class="col-3">Prezenty</label>
                    </div>
                    <div class="row">
                        <div class="form-group form-check col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Roses_Flowers" /> @Html.DisplayNameFor(model => model.Roses_Flowers)
                            </label>
                        </div>
                        <div class="form-group form-check col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Birthday_Occasion" /> @Html.DisplayNameFor(model => model.Birthday_Occasion)
                            </label>
                        </div>
                        <div class="form-group form-check col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Roses_Flowerbox" /> @Html.DisplayNameFor(model => model.Roses_Flowerbox)
                            </label>
                        </div>
                        <div class="form-group form-check col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="TeddyBear_Gift" /> @Html.DisplayNameFor(model => model.TeddyBear_Gift)
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-check col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Sunflowers_Flowers" /> @Html.DisplayNameFor(model => model.Sunflowers_Flowers)
                            </label>
                        </div>
                        <div class="form-group form-check col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="NameDay_Occasion" /> @Html.DisplayNameFor(model => model.NameDay_Occasion)
                            </label>
                        </div>
                        <div class="form-group form-check col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Cloves_Flowerbox" /> @Html.DisplayNameFor(model => model.Cloves_Flowerbox)
                            </label>
                        </div>
                        <div class="form-group form-check col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="SweetBouquets_Gift" /> @Html.DisplayNameFor(model => model.SweetBouquets_Gift)
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-check col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Gerbers_Flowers" /> @Html.DisplayNameFor(model => model.Gerbers_Flowers)
                            </label>
                        </div>
                        <div class="form-group form-check col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Wedding_Occasion" /> @Html.DisplayNameFor(model => model.Wedding_Occasion)
                            </label>
                        </div>
                        <div class="form-group form-check col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Mix_Flowerbox" /> @Html.DisplayNameFor(model => model.Mix_Flowerbox)
                            </label>
                        </div>
                        <div class="form-group form-check col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="TeaAndCofee_Gift" /> @Html.DisplayNameFor(model => model.TeaAndCofee_Gift)
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-check col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Bouquets_Flowers" /> @Html.DisplayNameFor(model => model.Bouquets_Flowers)
                            </label>
                        </div>
                        <div class="form-group form-check col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Birth_Occasion" /> @Html.DisplayNameFor(model => model.Birth_Occasion)
                            </label>
                        </div>
                        <div class="form-group form-check offset-3 col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Basket_Gift" /> @Html.DisplayNameFor(model => model.Basket_Gift)
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-check offset-3 col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Thanks_Occasion" /> @Html.DisplayNameFor(model => model.Thanks_Occasion)
                            </label>
                        </div>
                        <div class="form-group form-check offset-3 col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Balloon_Gift" /> @Html.DisplayNameFor(model => model.Balloon_Gift)
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-check offset-3 col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Congratulations_Occasion" /> @Html.DisplayNameFor(model => model.Congratulations_Occasion)
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-check offset-3 col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Condolence_Occasion" /> @Html.DisplayNameFor(model => model.Condolence_Occasion)
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-check offset-3 col-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Anniversary_Occasion" /> @Html.DisplayNameFor(model => model.Anniversary_Occasion)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-3 offset-1">
                    <img src="@Model.Image" width="100%" />
                </div>
            </div>
            
            <br />
            <div class="form-group row">
                <input type="submit" value="Edytuj" class="btn btn-info form-control col-2" />
                <a asp-action="Index" class="btn btn-success text-white form-control col-2 offset-1">Powrót</a>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });
    </script>
}
