@model IEnumerable<Flower>
@using Florist.Utility
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="text-center" style="color:mediumseagreen;">Nasze bestsellery</h1>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Math.Ceiling(Convert.ToDouble(Model.Count()) / 4); i++)
                    {
                        if (i == 0)
                        {
                            <li data-target="#multi-item-example" data-slide-to="@i.ToString()" class="active"></li>
                        }
                        else
                        {
                            <li data-target="#multi-item-example" data-slide-to="@i.ToString()"></li>
                        }
                    }
                </ol>
                <div class="carousel-inner" role="listbox">
                    @for (int i = 0; i < Math.Ceiling(Convert.ToDouble(Model.Count()) / 4); i++)
                    {
                        if (i == 0)
                        {
                            <div class="carousel-item active">

                                @if (Model.Count() < 5)
                                {
                                    for (int j = 0; j < Model.Count(); j++)
                                    {
                                        var item = Model.ElementAt(i * 4 + j);
                                        <a asp-action="Details" asp-controller="Flower" asp-route-Id="@item.Id" class="col-3 " style="float:left">
                                            <img class="card-img-top"
                                                 src="@Html.DisplayFor(m => item.Image)"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="font-weight-bold fuchsia-rose-text">@Html.DisplayFor(m => item.Name)</h5>
                                                <p class="chili-pepper-text mb-0">@Html.DisplayFor(m => item.Price) PLN</p>
                                            </div>
                                        </a>
                                    }
                                }
                                else
                                {
                                    for (int j = 0; j < 4; j++)
                                    {
                                        var item = Model.ElementAt(i * 4 + j);
                                        <a asp-action="Details" asp-controller="Flower" asp-route-Id="@item.Id" class="col-3 " style="float:left">
                                            <img class="card-img-top"
                                                 src="@Html.DisplayFor(m => item.Image)"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="font-weight-bold fuchsia-rose-text">@Html.DisplayFor(m => item.Name)</h5>
                                                <p class="chili-pepper-text mb-0">@Html.DisplayFor(m => item.Price) PLN</p>
                                            </div>
                                        </a>
                                    }
                                }

                            </div>
                        }
                        else
                        {
                            <div class="carousel-item ">
                                @for (int j = 0; j < Convert.ToDouble(Model.Count() - i * 4); j++)
                                {
                                    var item = Model.ElementAt(i * 4 + j);
                                    <a asp-action="Details" asp-controller="Flower" asp-route-Id="@item.Id" class="col-3 " style="float:left">
                                        <img class="card-img-top"
                                             src="@Html.DisplayFor(m => item.Image)"
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">@Html.DisplayFor(m => item.Name)</h5>
                                            <p class="chili-pepper-text mb-0">@Html.DisplayFor(m => item.Price) PLN</p>
                                        </div>
                                    </a>
                                }
                            </div>
                        }

                    }
                </div>
            </div>
        }
        else
        {
            <p>Brak produktów do wyświetlenia...</p>
        }
        <br />
        <div class="mt-4 shadow green_rect">
            <h1>O nas</h1>
        </div>
        <div class="col-12 mt-5 row">
            <img src="~/img/onas2.jpg" class="col-lg-6 p-0 col-12 about_us_img"/>
            <div class="col-lg-6 pt-4 pb-lg-0 text-center pt-3 pb-5 col-12">
                <h4>Lorem ipsum</h4>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="col-12 row">
            <img src="~/img/onas1.jpg" class="d-lg-none p-0 col-12 about_us_img" />
            <div class="col-lg-6 pb-lg-0 text-center pt-4 pb-5 col-12">
                <h4>Lorem ipsum</h4>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <img src="~/img/onas1.jpg" class="col-lg-6 d-lg-block p-0 d-none about_us_img"/>
        </div>
        <div class="col-12 row">
            <img src="~/img/onas3.jpg" class="col-lg-6 p-0 col-12 about_us_img"/>
            <div class="col-lg-6 pb-lg-0 text-center pt-4 col-12">
                <h4>Lorem ipsum</h4>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="mt-5 shadow green_rect">
            <h1>Dlaczego warto nas wybrać?</h1>
        </div>
        <div class="mb-4 row">
            <div class="mt-5 col-md-4 col-12 text-center">
                <img src="~/img/dlaczego1.png" style="width:60%; border-radius:250px;"/>
                <h4 class="mt-2">Lorem ipsum</h4>
                <p class="col-10 offset-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore.
                </p>
            </div>
            <div class="mt-5 col-md-4 col-12 text-center">
                <img src="~/img/dlaczego2.jpg" style="width:60%; border-radius:250px;" />
                <h4 class="mt-2">Lorem ipsum</h4>
                <p class="col-10 offset-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore.
                </p>
            </div>
            <div class="mt-5 col-md-4 col-12 text-center">
                <img src="~/img/dlaczego3.png" style="width:60%; border-radius:250px;" />
                <h4 class="mt-2">Lorem ipsum</h4>
                <p class="col-10 offset-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore.
                </p>
            </div>
        </div>
    </div>
</div>

