@model IEnumerable<Flower>
@using Florist.Utility
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="h2 text-center" style="color:mediumseagreen;">Nasze bestsellery</h1>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                <div class="controls-top">
                    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                    <a class="btn-floating" href="#multi-item-example" data-slide="next">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Math.Ceiling(Convert.ToDouble(Model.Count()) / 4); i++)
                    {
                        if (i == 0)
                        {
                            <li data-target="#multi-item-example" data-slide-to="@i.ToString()" class="active"></li>
                        }
                        else
                        {
                            <li data-target="#multi-item-example" data-slide-to="@i.ToString()"></li>
                        }
                    }
                </ol>
                <div class="carousel-inner" role="listbox">
                    @for (int i = 0; i < Math.Ceiling(Convert.ToDouble(Model.Count()) / 4); i++)
                    {
                        if (i == 0)
                        {
                    <div class="carousel-item active">
                        @if (Model.Count() < 4)
                        {
                            for (int j = 0; j < Model.Count(); j++)
                            {
                                var item = Model.ElementAt(i * 4 + j);
                                <a asp-action="Details" asp-controller="Flower" asp-route-Id="@item.Id" class="col-md-3 " style="float:left">
                                    <img class="card-img-top"
                                         src="@Html.DisplayFor(m => item.Image)"
                                         alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">@Html.DisplayFor(m => item.Name)</h5>
                                        <p class="chili-pepper-text mb-0">@Html.DisplayFor(m => item.Price) PLN</p>
                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            for (int j = 0; j < 4; j++)
                            {
                                var item = Model.ElementAt(i * 4 + j);
                                <a asp-action="Details" asp-controller="Flower" asp-route-Id="@item.Id" class="col-md-3 " style="float:left">
                                    <img class="card-img-top"
                                         src="@Html.DisplayFor(m => item.Image)"
                                         alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">@Html.DisplayFor(m => item.Name)</h5>
                                        <p class="chili-pepper-text mb-0">@Html.DisplayFor(m => item.Price) PLN</p>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                        }
                        else
                        {
                            <div class="carousel-item ">
                                @for (int j = 0; j < Convert.ToDouble(Model.Count() - i * 4); j++)
                                {
                                    var item = Model.ElementAt(i * 4 + j);
                                    <a asp-action="Details" asp-controller="Flower" asp-route-Id="@item.Id" class="col-md-3 " style="float:left">
                                        <img class="card-img-top"
                                             src="@Html.DisplayFor(m => item.Image)"
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">@Html.DisplayFor(m => item.Name)</h5>
                                            <p class="chili-pepper-text mb-0">@Html.DisplayFor(m => item.Price) PLN</p>
                                        </div>
                                    </a>
                                }
                            </div>
                        }

                    }
                </div>
            </div>
        }
        else
        {
            <p>Brak produktów do wyświetlenia...</p>
        }
    </div>
</div>

